flows.json
[
    {
        "id": "9ff92e94e1d6d4cb",
        "type": "tab",
        "label": "Flasher",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "74792be3bc746e68",
        "type": "tab",
        "label": "Lights up and turns off a few seconds",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0fc4f508f4e5ddc0",
        "type": "tab",
        "label": "Press and after a few seconds it turns on",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2f7256a828f5a446",
        "type": "tab",
        "label": "Toggle",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "87aa28b1763b36eb",
        "type": "inject",
        "z": "9ff92e94e1d6d4cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "d4803bb9eda5459d"
            ]
        ]
    },
    {
        "id": "d4803bb9eda5459d",
        "type": "function",
        "z": "9ff92e94e1d6d4cb",
        "name": "function 1",
        "func": "msg.payload = flow.get(\"led\")||false\nmsg.payload = !msg.payload\nflow.set(\"led\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "ec1fa7a2600c7e64"
            ]
        ]
    },
    {
        "id": "ec1fa7a2600c7e64",
        "type": "rpi-gpio out",
        "z": "9ff92e94e1d6d4cb",
        "name": "",
        "pin": "18",
        "set": false,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "e3903b7e3395a275",
        "type": "inject",
        "z": "74792be3bc746e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "febfec36abbdc068",
                "20cd88a63a828edd"
            ]
        ]
    },
    {
        "id": "febfec36abbdc068",
        "type": "delay",
        "z": "74792be3bc746e68",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 60,
        "wires": [
            [
                "50feb5943d35664d"
            ]
        ]
    },
    {
        "id": "50feb5943d35664d",
        "type": "change",
        "z": "74792be3bc746e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 60,
        "wires": [
            [
                "20cd88a63a828edd"
            ]
        ]
    },
    {
        "id": "20cd88a63a828edd",
        "type": "rpi-gpio out",
        "z": "74792be3bc746e68",
        "name": "",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "eebc7b3cbb3a93d4",
        "type": "inject",
        "z": "0fc4f508f4e5ddc0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "f9e964d93498ab5b"
            ]
        ]
    },
    {
        "id": "f9e964d93498ab5b",
        "type": "delay",
        "z": "0fc4f508f4e5ddc0",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 100,
        "wires": [
            [
                "46928889b2b6b7ba"
            ]
        ]
    },
    {
        "id": "46928889b2b6b7ba",
        "type": "change",
        "z": "0fc4f508f4e5ddc0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 100,
        "wires": [
            [
                "4539d5343b5c82ba"
            ]
        ]
    },
    {
        "id": "4539d5343b5c82ba",
        "type": "rpi-gpio out",
        "z": "0fc4f508f4e5ddc0",
        "name": "",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "a88cbecbe5f98231",
        "type": "inject",
        "z": "0fc4f508f4e5ddc0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "4539d5343b5c82ba"
            ]
        ]
    },
    {
        "id": "7153a784ecb353ad",
        "type": "inject",
        "z": "2f7256a828f5a446",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "5bf6675a03637720"
            ]
        ]
    },
    {
        "id": "5bf6675a03637720",
        "type": "rpi-gpio out",
        "z": "2f7256a828f5a446",
        "name": "",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "e4dd8dd6ac1dbdeb",
        "type": "inject",
        "z": "2f7256a828f5a446",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "5bf6675a03637720"
            ]
        ]
    }
]